/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Custom styles */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Varela Round", sans-serif;
  background-color: aliceblue;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 25rem;
  margin: 2rem 0;
  padding: 1rem 0;
  border-radius: 1rem;
  background: linear-gradient(90deg, rgb(124, 203, 255), rgb(171, 252, 255));
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
}

.city {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.temp {
  font-size: 3.5rem;
  font-weight: 700;
  color: white;
  margin: 0;
  position: relative;
  bottom: 3%;
}

.sun {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 40%;
  z-index: 1;
  margin-bottom: 3rem;
}

.core {
  width: 10rem;
  height: 10rem;
  background: rgb(255, 231, 10);
  box-shadow: 0 0 2rem rgb(245, 220, 0), 0 0 4rem rgb(224, 202, 0),
    0 0 6rem rgb(204, 184, 0);
  border-radius: 50%;
  animation: sunshine 2.5s infinite linear forwards;
}

@keyframes sunshine {
  0% {
    box-shadow: none;
  }
}

.cloud {
  width: 10rem;
  height: 3.5rem;
  position: relative;
  z-index: 1000;
  background: rgb(236, 239, 241);
  box-shadow: 0.625rem 0.625rem rgba(0, 0, 0, 0.2);
  border-radius: 6.25rem;
  animation: cloud-movement 3s linear infinite;
}

.cloud:after,
.cloud:before {
  content: "";
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
}

.cloud::after {
  width: 4rem;
  height: 4rem;
  top: -2.2rem;
  left: 1.4rem;
}

.cloud::before {
  width: 3.5rem;
  height: 3.5rem;
  top: -2rem;
  left: 1.4rem;
}

.cloud.two {
  width: 7.5rem;
  height: 3rem;
  margin-top: 5rem;
  animation: cloud-movement 3s 2s linear infinite;
}

.cloud.two::after {
  width: 3rem;
  height: 3rem;
  top: -1rem;
  left: -2.5rem;
}

.cloud.two::before {
  width: 3rem;
  height: 3rem;
  top: -1.5rem;
  left: 3.5rem;
}

@keyframes cloud-movement {
  0% {
    left: -10%;
  }

  100% {
    left: 110%;
  }
}

.mountains {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1;
}

.left-mountain {
  width: 7rem;
  height: 7rem;
  background: linear-gradient(
    45deg,
    rgb(35, 121, 251) 10%,
    rgb(109, 223, 219) 50%,
    rgb(38, 214, 67) 70%
  );
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: relative;
  left: -25%;
}

.right-mountain {
  width: 8rem;
  height: 7rem;
  background: linear-gradient(
    -45deg,
    rgb(35, 121, 251) 10%,
    rgb(109, 223, 219) 50%,
    rgb(38, 214, 67) 70%
  );
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: relative;
  right: -25%;
}

.beach {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40vh;
  background: linear-gradient(
    0deg,
    rgb(111, 166, 255) 30%,
    rgba(118, 228, 255, 1) 60%,
    rgb(78, 170, 212) 100%
  );
  z-index: 0;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 50%;
  height: 40vh;
  overflow: hidden;
  background-color: rgb(250, 253, 181);
  border-radius: 50%;
  box-shadow: -1px -9px 25px 5px rgba(248, 252, 156, 1);
}

.weather .sunny-day {
  width: 5rem;
  height: 5rem;
  background: rgb(255, 236, 60);
  border-radius: 50%;
  position: relative;
  bottom: 18%;
}

.weather-condition {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(255, 236, 60);
  position: relative;
  bottom: 15%;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
  #container {
    width: 100%; /* Full width on small screens */
  }

  body {
    font-size: 0.9rem; /* Adjust font size for smaller screens */
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  #container {
    width: 80%; /* Adjust width for medium screens */
  }
}
